---
import { SearchBar } from '#/components/search-bar'
import Layout from '#/pages/_layout.astro'

export const prerender = true
---

<Layout>
	<div class="flex flex-1 flex-col items-center gap-9 pt-20">
		<h1
			class="inline text-balance px-8 text-center text-6xl font-semibold tracking-tight lg:text-6xl"
		>
			Welcome to IMDB Graph
		</h1>
		<div class="min-w-sm flex w-full max-w-lg justify-center px-8">
			<SearchBar client:load />
		</div>
	</div>
</Layout>
