@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --header-size: 4.25rem;
  --shadow-size: 4px;
  --pastel-pink: oklch(90% 0.05 330);
  --hot-pink: oklch(70% 0.25 330);

  --main: var(--pastel-pink);
  --main-foreground: oklch(0% 0 0);
  --background: var(--pastel-pink);
  --secondary-background: var(--pastel-pink);
  --foreground: var(--hot-pink);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --destructive: oklch(0.577 0.245 27.325);
}

@theme inline {
  --color-main: var(--main);
  --color-main-foreground: var(--main-foreground);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);
  --color-destructive: var(--destructive);

  --radius-base: 5px;

  --font-weight-base: 500;
  --font-weight-heading: 700;
  --font-sans:
    'Brush Script MT', cursive; /* Changed to Brush Script MT, with cursive as fallback */
  --font-mono:
    'Brush Script MT', cursive; /* Changed to Brush Script MT, with cursive as fallback */

  --animate-bounce-up: bounce-up 1s infinite;
  @keyframes bounce-up {
    0%,
    100% {
      transform: translateY(-12%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-color: var(--border);
  }

  body {
    @apply text-foreground font-base min-w-xs min-h-screen;
    background-image: url('/sparkly.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@utility box-shadow {
  box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--border);
}

@utility hover-effect {
  @apply transition-all;

  &:hover {
    transform: translate(var(--shadow-size), var(--shadow-size));
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
    @apply ring-2 ring-black ring-offset-2 ring-offset-white;
  }
}

@utility animate-collapsible {
  overflow: hidden;

  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  &[data-state='open'] {
    animation: collapsible-down 0.1s ease-in-out;
  }

  &[data-state='closed'] {
    animation: collapsible-up 0.2s ease-in-out;
  }
}
