---
import "@/styles/globals.css";
import { Analytics } from "@vercel/analytics/react";
import Font from "astro/components/Font.astro";
import { Toaster } from "@/components/primitives/sonner";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Aria Amini - Portfolio</title>
    <meta
      name="description"
      content="Portfolio of Aria Amini, a software engineer."
    />
    <Font cssVariable="--font-inter" preload />
    <Analytics />
  </head>
  <body class="antialiased">
    <slot />
    <Toaster client:load className="offset-y-(--header-size)" />
    {/* My Melody GIF */}
    <a
      href="https://www.youtube.com/watch?v=xnAZnoeuJoc"
      target="_blank"
      rel="noopener noreferrer"
      class="fixed top-[var(--header-size)] left-0 w-32 h-auto z-50"
    >
      <img
        id="melody-gif"
        src="/my_melody.gif"
        alt="My Melody GIF"
        width={320}
        height={185}
        class="w-full h-full"
      />
    </a>
  </body>
</html>
