---
import { Toaster } from '@/components/sonner'
import '@aamini/ui/neobrutalist.css'
import Font from 'astro/components/Font.astro'
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>Aria Amini - Portfolio</title>
		<meta
			name="description"
			content="Portfolio of Aria Amini, a software engineer."
		/>
		<Font cssVariable="--font-inter" preload />
		<script>
			import { initPosthog } from '@/lib/analytics'
			initPosthog()
		</script>
	</head>
	<body class="antialiased">
		<slot />
		<Toaster client:load className="offset-y-(--header-size)" />
	</body>
</html>
