---
import { Toaster } from '#/components/sonner'
import '#/styles/globals.css'
import { Font } from 'astro:assets'
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>Aria Amini - Portfolio</title>
		<meta
			name="description"
			content="Portfolio of Aria Amini, a software engineer."
		/>
		<Font cssVariable="--font-dm-sans" preload />
		<script>
			import { PUBLIC_POSTHOG_KEY } from 'astro:env/client'
			import posthog from 'posthog-js'

			posthog.init(PUBLIC_POSTHOG_KEY, {
				api_host: '/api/analytics',
				ui_host: 'https://us.posthog.com',
				defaults: '2025-05-24',
				person_profiles: 'always',
			})
		</script>
	</head>
	<body class="antialiased">
		<slot />
		<Toaster client:load className="offset-y-(--header-size)" />
	</body>
</html>
