---
import { ArrowDown } from "lucide-react";
import { ContactCard } from "@/components/contact-me";
import GitHub from "@/components/icons/github.svg";
import Linkedin from "@/components/icons/linkedin.svg";
import Pdf from "@/components/icons/pdf.svg";
import { JobBubble } from "@/components/job-bubble";
import { LinkButton, ScrollButton } from "@/components/primitives/button";
import { Section } from "@/components/section";
import { SkillBubble } from "@/components/skill-bubble";
import { jobs } from "@/lib/jobs";
import { skills } from "@/lib/skills";
import Layout from "@/pages/_layout.astro";
---

<Layout>
  {/* Navigation Header */}
  <header
    class="h-[calc(4px + var(--header-size))] py-3 transition-opacity sticky top-0 z-10 mb-1 flex w-full items-end px-4"
  >
    <div
      class="box-shadow font-heading border-border bg-secondary-background relative flex h-full flex-1 items-center justify-end gap-4 rounded-lg border-2 px-6 py-2"
    >
      <div class="absolute inset-0 rounded-lg  duration-100"></div>
      <LinkButton
        href="https://github.com/aamini11"
        size="icon"
        variant="neutral"
      >
        <GitHub />
      </LinkButton>
      <LinkButton
        href="https://linkedin.com/in/aria-amini"
        size="icon"
        variant="neutral"
      >
        <Linkedin />
      </LinkButton>
    </div>
  </header>

  <main>
    {/* Hero/Intro */}
    <header
      id="intro"
      class="flex min-h-[calc(100vh_-_var(--header-size))] items-center justify-center p-6"
    >
      <hgroup class="flex max-w-sm flex-col items-center">
        <h1
          class="flex flex-col items-center gap-2 bg-background p-2 rounded-md box-shadow border-2 border-border"
        >
          <span class="text-center font-mono"> Hello, my name is... </span>
          <b class="text-7xl">Aria Amini</b>
        </h1>
        <p
          class="box-shadow mt-4 inline rounded-md border-2 border-border bg-background p-2 text-center text-foreground/40"
        >
          Reformed libertarian turned wannabe bisexual twunk with 7 years of
          &quot;professional experience&quot;
        </p>
        <div class="mt-6 flex items-center justify-center gap-4">
          <ScrollButton
            client:load
            scrollToId="experience"
            size="lg"
            variant="default"
            className="px-4"
          >
            About Me <ArrowDown className="animate-bounce inline" />
          </ScrollButton>
          <LinkButton
            download={true}
            href="/Aria_Amini_Resume.pdf"
            size="lg"
            variant="default"
            className="px-4"
          >
            <Pdf width={20} height={20} class="inline" />
            Resume (.pdf)
          </LinkButton>
        </div>
      </hgroup>
    </header>

    {/* Experience */}
    <Section
      title="Experience"
      id="experience"
      className="scroll-mt-[calc(var(--header-size)_-_2px)]"
    >
      <ul class="flex flex-col items-center justify-center gap-8">
        {
          jobs.map((job) => (
            <li>
              <JobBubble client:load job={job} />
            </li>
          ))
        }
      </ul>
    </Section>

    {/* Skills */}
    <Section title="Skills">
      <ul class="flex flex-wrap justify-center gap-8">
        {skills.map((tech) => <SkillBubble tech={tech} />)}
      </ul>
    </Section>

    {/* Contact */}
    <Section title="Contact Me">
      <ContactCard client:load />
    </Section>
  </main>
</Layout>
